<%= form_with(model: building) do |form| %>
  <% if building.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(building.errors.count, "error") %> prohibited this building from being saved:</h2>

      <ul>
        <% building.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :物件名 %>
    <%= form.text_field :building_name %>
  </div>

  <div class="field">
    <%= form.label :賃料 %>
    <%= form.number_field :price %>
  </div>

  <div class="field">
    <%= form.label :住所 %>
    <%= form.text_field :address %>
  </div>

  <div class="field">
    <%= form.label :築年数 %>
    <%= form.number_field :building_age %>
  </div>

  <div class="field">
    <%= form.label :備考 %>
    <%= form.text_area :info %>
  </div>

  <div class="actions">
    <%= form.submit name="更新する"%>
  </div>
<% end %>
