<p id="notice"><%= notice %></p>

<p>
  <strong>物件名:</strong>
  <%= @building.building_name %>
</p>

<p>
  <strong>賃料:</strong>
  <%= @building.price %>円
</p>

<p>
  <strong>住所:</strong>
  <%= @building.address %>
</p>

<p>
  <strong>築年数:</strong>
  <%= @building.building_age %>年
</p>

<p>
  <strong>備考:</strong>
  <%= @building.info %>
</p>




<%= link_to '編集', edit_building_path(@building) %> |
<%= link_to '戻る', buildings_path %>
